<div style="display: flex; align-items: center; justify-content: center; ">
  <div class="main">
    <div class="sidebar" style="flex: 1;">
      <div class="icon"><fa-icon style="margin:20px;" [icon]="faUser"></fa-icon>
          <a href="#" style="font-size: larger; margin: 20px; text-align: center;">Basic information</a>
      </div>
      <div class="icon"><fa-icon style="margin:20px;" [icon]="faLock"></fa-icon>
           <a href="#" style="font-size: larger; margin: 20px; text-align: center;" >Change password</a>
      </div>
      <div class="icon"><fa-icon style="margin:20px;" [icon]="faClock"></fa-icon>
          <a href="#" style="font-size: larger; margin: 20px; text-align: center;">Order history</a>
      </div>
    </div>
    <div class="main1" style="flex: 2;">
      <form>
        <div style="display: flex; margin: 10px 10px; font-size: x-large; flex-direction: column;">
          <label for="name">Current Password</label>
          <input style="background-color: rgb(213, 226, 226); border:2px; border-radius: 10px; padding: 5px;" type="text" id="name" name="name"  required>
        </div>
        <div  class="" style="display: flex; margin: 10px 10px; font-size: x-large; flex-direction: column;">
          <label for="password">New Password</label>
          <input style="background-color: rgb(213, 226, 226); border:2px; border-radius: 10px; padding: 5px;" type="text" id="password" name="name"  required>
        </div>
        <div  class="" style="display: flex; margin: 10px 10px; font-size: x-large; flex-direction: column;">
          <label for="confirm">Confirm Password</label>
          <input style="background-color: rgb(213, 226, 226); border:2px; border-radius: 10px; padding: 5px;" type="text" id="confirm" name="name" required>
        </div>
        </form>
        </div>
        </div>
        </div>
      