
<app-nav-bar></app-nav-bar>
<div>
    <div class="main">
    <img class="img"  src="assets/music.jpg" alt="#">
    </div>
    <div class="container">
        <h1>Who we are?</h1>
        <p>
            Musical Instrument Store is Nepal’s full-fledged online music shop. We proudly offer the best acoustic guitars,
            electric guitars, ukuleles, keyboards, violins, harmonicas, bass guitars, pianos, electric drums, and cajons
            from a myriad of trusted brands. Our store is a one-stop destination for all kinds of accessories, including
            guitar strings, straps, parts for violins, pianos, drums, and guitar cables.
        </p>
        <p>
            Dive into the world of electronic music with us as we provide studio recording equipment, studio microphones, MIDI
            controllers, DJ controllers, studio headphones, and audio interfaces.
        </p>
        <h1>Brands We Deal In</h1>
        <p>
            We are the exclusive authorized distributor of Manaslu, Native Instruments, Laney, Alctron, Beyerdynamic, Hex Instruments,
            MXL Mics, and Stagg Music for Nepal.
        </p>
        <br>
        <p>
            We also offer products from renowned brands like D'Addario, Presonus, Behringer, KRK, Casio, Roland, Focusrite, Shure,
            Akai, and more.Let’s create some great music together!
        </p><br>
        <p>
            We need less hatred and more music. Together, we can create an awesome playlist
            that touches the hearts of millions of music lovers. Join the Treasure Music Family today. Subscribe to our newsletter
            for the latest updates and offers.
        </p>
        <h1>Pay us a visit if you are looking for the best Shop in Nepal</h1>
    </div>
    </div>
    <app-footer></app-footer>
    
    
    