<app-nav-bar></app-nav-bar>

<div class="flex px-32 py-12">
  <div class="w-[50%] p-4">
    <h1 class="font-semibold text-2xl mb-4">Delivery Information</h1>
    <div class="w-full max-w-[450px]">
      <div class="flex justify-between mb-2">
        <input
          type="text"
          placeholder="First Name"
          class="rounded px-4 py-2 outline-none border border-slate-600"
        />
        <input
          type="text"
          placeholder="First Name"
          class="rounded px-4 py-2 outline-none border border-slate-600"
        />
      </div>
      <input
        type="email"
        placeholder="Email address"
        class="rounded px-4 py-2 outline-none border border-slate-600 w-full mb-2"
      />
      <input
        type="text"
        placeholder="Street"
        class="rounded px-4 py-2 outline-none border border-slate-600 w-full mb-2"
      />
      <div class="flex justify-between mb-2">
        <input
          type="text"
          placeholder="City"
          class="rounded px-4 py-2 outline-none border border-slate-600"
        />
        <input
          type="text"
          placeholder="State"
          class="rounded px-4 py-2 outline-none border border-slate-600"
        />
      </div>
      <div class="flex justify-between mb-2">
        <input
          type="text"
          placeholder="Zip code"
          class="rounded px-4 py-2 outline-none border border-slate-600"
        />
        <input
          type="text"
          placeholder="Country"
          class="rounded px-4 py-2 outline-none border border-slate-600"
        />
      </div>
      <input
        type="number"
        placeholder="phone"
        class="rounded px-4 py-2 outline-none border border-slate-600 w-full mb-2"
      />
    </div>
  </div>
  <div class="w-[50%] p-10">
    <h1 class="font-semibold text-xl mb-4">Cart Total</h1>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between">
        <p class="text-slate-500">SubTotal</p>
        <p class="text-slate-500">Rs 100</p>
      </div>
      <hr class="h-0.5 bg-slate-200 rounded-full">
      <div class="flex justify-between">
        <p class="text-slate-500">Delivery Fee</p>
        <p class="text-slate-500">Rs 50</p>
      </div>
      <hr class="h-0.5 bg-slate-200 rounded-full">
      <div class="flex justify-between">
        <p class="text-slate-900">Total</p>
        <p class="text-green-600">Rs 150</p>
      </div>
      <div class="felx justify-start mt-4">
        <button class="bg-orange-500 px-4 py-2 rounded-lg text-white hover:bg-orange-600 hover:scale-105 transfrom transition ease-in-out">Processed To Payment</button>
      </div>
    </div>
  </div>
</div>
